.idea/
.vscode/
node_modules/
docs/
dist/
dist/test/
src/
test/
*.log
*.tgz
.npmignore
nowjs-core.iml
tsconfig.json
tslint.json
tsconfig.debug.json
tsconfig.release.json
tsconfig.test.json
.travis.yml
jest.json
package-lock.json
coverage/
CHANGELOG.md
CONTRIBUTING.md